<div style="margin: auto; width: 1200px; padding-top: 20px;">
  <h1>One Page Wonder</h1>

  <form>
    <div class="input-group" style="width: 400px; padding-bottom: 30px; padding-top: 20px;">
      <input type="text" [(ngModel)]="artist" name="artist" class="form-control" style="margin-right: 10px" />
      <button type="button" (click)="search()" class="btn btn-primary">Search</button>
    </div>
  </form>

  <div *ngIf="showSearchResults" class="container" style="padding: 0 0 50px 0;">
    <div class="row">
      <div *ngFor="let video of videos" class="col-md-4" style="padding: 0 0 20px 0;">
        <img src="https://i.ytimg.com/vi/{{video.id.videoId}}/mqdefault.jpg" />
        <div>
          <input type="checkbox" [(ngModel)]="video.selected" />
          {{video.snippet.title}}
        </div>
        <div style="color: gray;">{{getDateUtc(video.snippet.publishedAt) | date:'MMMM d, yyyy'}}</div>
        <div>{{video.statistics.viewCount | number}} views</div>
      </div>
    </div>
    <button (click)="generatePage()" class="btn btn-primary">Continue</button>
  </div>

  <div *ngIf="showSelectedVideos" class="container" style="padding: 0 0 50px 0;">
    <div class="row">
      <div *ngFor="let video of videos" class="col-md-6" style="padding: 0 0 30px 0;">
        <iframe width="560" height="315" [src]="'https://www.youtube.com/embed/' + video.id.videoId | safe"
          frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <div style="font-size: large; padding-top: 5px;">
          <div style="color: gray;">{{getDateUtc(video.snippet.publishedAt) | date:'MMMM d, yyyy'}}</div>
          <div>{{video.statistics.viewCount | number}} views</div>
        </div>
      </div>
    </div>
  </div>
</div>